#menu .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#menu article{
  margin: 20px;
}

#menu img {
  width: 100%;
  max-width: 280%;
}

#menu h3,h4{

  text-align: center;

}
